# Auto detect text files and perform LF normalization
* text=auto

# YAML files
*.yaml text eol=lf
*.yml text eol=lf

# JavaScript
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# CSS
*.css text eol=lf

# Markdown
*.md text eol=lf

# Config files
.gitignore text eol=lf
.gitattributes text eol=lf
